.button {
  padding: 10px 50px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 5px;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button:hover {
  background-color: #4CAF50;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.emptyButton {
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(128, 128, 128);
  background-color: #fefefe;
  border: 1px;
  border-radius: 5px;
}