.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: green;
  border: none;
  size: 15px 50px;
  box-shadow: 0 9px #999;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover {
  background-color: #4CAF50; /* Green */
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}