.navigation ul {
  list-style-type: node;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white;
  width: 100%;
  color: black;

}

.navigation li {
  display: inline;
  border-right: 1px solid white;
  background-color:white;
 
}

.navigation li:not(.active) a {
  display: inline-block;

  text-align: center;
  text-decoration: none;
  background-color:white;
}

.navigation li:not(.active) a:hover {
  color: rgb(6, 124, 6);
}
.navigation li:not(.active) {
  background-color:white;
}

.navigation .active a:hover {
  background-color: rgb(4, 185, 4, 0.781);
}

.active a {
  background-color: green;
  color: white;
}