.main {
  background-color:#040404;
  width: 100%;  
  /*height: 50px;  */
  border-radius: 5px;
  display: flex;
}

.footerLinks {
  text-align: left; 
  width: 80%;
  font-size: 12px; 
  position: relative;
  color: #040404;
  display: block;
}

.footerText {
  padding: 10px 10px 10px 10px;
  text-align: left; 
  font-size: 20px; 
  width: 20%;
  color: #fefefe;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
}

li a:hover {
  background-color: #ed3237;
  color: white;
}


li {
  display: block;
  float: left;
}

li a {
  display: block;
  text-align: left;
  padding: 15px 20px;
  border: 2px 2px 2px 2px;
  text-decoration: none;
}

li:not(.active) a:hover {
  background-color: #040404;
}

a {
  color: black;
  background-color: #ed3237;
}

li .active {
  display: block;
  background-color: #4CAF50; /* Green */
}