
.main {
  background-color: green;
  width: 150px;  
  height: 32px;  
  border-radius: 15px;
  display: flex;

}

.roundiconbutton {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  width: 150px;
  height: 32px;
  background-color: green;
  border-radius: 15px;
}

.roundiconbutton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.roundiconbutton:hover {
  color: #3f3f3f;
}

.roundiconbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.roundiconbutton.inactive {
  background-color: rgb(233, 97, 97) !important;
  box-shadow: 0 9px #3f3f3f;
}

.logo {
  max-width: 25px;
  max-height: 25px;   
  text-align: left; 
}